.cartao {
	width: 100px;
	width: 55%;
}
.cartao .wallet h2 {
	color: #777879;
	font-size: 16px;
	margin-left: 30px;
	margin-top: 20px;
}
.cartao .wallet ul {
	display: flex;
	justify-content: center;
		
}
.cartao .wallet li {
	list-style: none;
	padding: 15px;
	margin: 10px;
}
.cartao .wallet li:hover{
	background-color: #f5f9f5;
	box-shadow: inset 0 0 2px #d1e3f5;
	border-radius: 4px;
}
.cartao .wallet small {
	display: block;
	text-align: center;
	margin-top: 5px;	
}
.cartao .wallet a {
	text-decoration: none;
	color: #c6c6c6;
	font-size: 12px;
}
.cartao .newcard fieldset {
	border: none;	
	text-align: center;
}
.cartao .newcard legend {
	font-size: 16px;
	color: #777879;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 5px;	
	width: 100%;
	text-align: left;
	margin-bottom: 20px;
	padding-left: 20px;	
}
.cartao .newcard input {
	width: 270px;
	height: 40px;
	margin-bottom: 20px;
	padding-left: 20px;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
}
.cartao .newcard input.date {
	width: 149px;
	margin-right: 10px;
}
.cartao .newcard input.cvc {
	width: 96px;
}
.cartao ::-webkit-input-placeholder {
	color: #c4cbd0;
	font-size: 14px;
	font-weight: 100;
}
.cartao .newcard button {
	width: 289px;
	padding: 15px;
	background-color: #84d654;
	font-size: 16px;
	font-family: 'muliextrabold';
	border: none;
	color: #fff;
	border-radius: 2px;
}
.cartao .newcard label input {
	width: 20px;
	height: 20px;
}
.cartao .newcard label {
	display: flex;
	margin-left: 35px;
	font-size: 14px;
	color: #777879;
}
